

.container-login100 {
  
  width: 35%;  
 height:2%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: #e6f9ff;
text-align: center;
}
.wrap-login100 {
margin-bottom:20px;
margin-top:-50px;
  height:30%;
  width: 70%;
margin-left:150px;
margin-right:-400px;
  background: 	#fff;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
text-align: center;
  flex-direction: row-reverse;

}
